extends ../layout

block content
    a(href='/users/create') Nuevo Usuario
    br
    h1= 'Lista de Usuarios'
    br
    table.table
        thead
            tr
                th(scope = 'col') Id
                th(scope = 'col') Nombre
                th(scope = 'col') Ciudad
                th(scope = 'col') Departamento
                th(scope = 'col') Correo
                th(scope = 'col')
                th(scope = 'col')
        tbody
            each user in users
                tr
                    td(scope = 'row')= user.id
                    td= user.nombre
                    td= user.ciudad
                    td= user.departamento
                    td= user.correo
                    td
                       a(href= '/users/' + user.id + '/update') Editar
                    td
                        form.inline(method='post' action="/users/" + user.id + '/delete')
                            input(type="hidden" name='id' value=user.id)
                            button.link-button(type='submit' name='submit' value='submit_param' class='btn')
                                = 'Eliminar'